@charset "UTF-8";
/*Variables de colores*/
/*OPERACIONES CON SASS*/
/*HEADER------------------------------------------------------*/
header {
  background-color: Black; }
  header .titulo__imagen a {
    display: flex;
    text-decoration: none;
    color: white; }
    header .titulo__imagen a img {
      max-width: 100%;
      height: auto; }
  header nav.menu a {
    padding: 10px;
    color: white;
    border-radius: 10px; }
  header nav.menu a:hover {
    animation-name: boton-fachero;
    animation-duration: 10s;
    background: #022975;
    background: linear-gradient(90deg, #022975 9%, #060247 94%);
    text-decoration: none;
    color: white; }
  header .barra__busqueda {
    border-radius: 10em;
    outline: 0;
    border: 2px solid #251f1f;
    background-color: #fff;
    color: Black;
    padding: 0.2em 1em;
    box-shadow: 0 5px 10px 0 #0002;
    transition: box-shadow 0.3s ease; }
    header .barra__busqueda input {
      border-style: none;
      width: 90%; }

/*modifica algunos items de lheader*/
@media screen and (max-width: 576px) {
  .primer-lista {
    width: 50%;
    background-color: darkblue; }
  .menu__big__window {
    display: none; }
  nav.menu {
    float: right;
    padding: 30px; } }

/*modifica algunos items de lheader*/
@media screen and (max-width: 992px) and (min-width: 576px) {
  .titulo__imagen h1 {
    display: none; }
  header {
    margin-bottom: 30px;
    padding: 30px; }
  .menu__big__window {
    display: none; } }

/*modifica algunos items de lheader*/
@media screen and (min-width: 992px) {
  .menu__skinny__window {
    display: none; } }

/*-----------------------------------ANIMACIÓN--------------------------------------*/
@keyframes boton-fachero {
  from {
    background-color: Black; }
  to {
    background: #022975;
    background: linear-gradient(90deg, #022975 9%, #060247 94%);
    color: Black; } }

/*------------------------------------------------------------------*/
footer {
  margin-top: 450px;
  /* box-shadow: 10px 5px 10px 10px rgba(179, 184, 168, 0.333 ); */
  color: white; }
  footer .menufooter a {
    color: white;
    text-decoration: none; }
  footer .menufooter li {
    width: 40%;
    border-radius: 4px;
    color: black;
    padding: 5px;
    margin: 2px; }
    footer .menufooter li:hover {
      background: white; }
      footer .menufooter li:hover a {
        color: black; }

body.iniciodesesion {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white; }
  body.iniciodesesion .conteiniciarsesion {
    background: #313139;
    background: linear-gradient(180deg, rgba(49, 49, 57, 0) 0%, white 10%, white 21%, white 28%, white 36%, white 49%, white 56%, white 62%, white 71%, white 91%, rgba(9, 9, 9, 0.00276236) 100%);
    margin-top: 90px;
    margin-bottom: 800px;
    padding: 40px; }
    body.iniciodesesion .conteiniciarsesion h2 {
      font-weight: bolder;
      margin: 90px;
      padding-bottom: 50px; }
    body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form input {
      margin: 10px;
      border-radius: 10em;
      outline: 0;
      border: 2px solid #aaa;
      background-color: #fff;
      color: Black;
      padding: 0.2em 1em;
      box-shadow: 0 5px 10px 0px #0002; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form input:focus {
        border-color: black; }
    body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form .conteiniciarsesion__form__nowrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form .conteiniciarsesion__form__nowrap label {
        padding-top: 10px; }
    body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form #conteiniciarsesion__form--submit:hover {
      animation-name: boton-fachero;
      color: white;
      background-color: #022975; }
    body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form .conteiniciarsesion__form__botones {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form .conteiniciarsesion__form__botones a {
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        color: Black; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__form .conteiniciarsesion__form__botones a:hover {
        animation-name: boton-fachero;
        animation-timing-function: ease-out;
        color: white;
        background-color: #022975;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px; }
    body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__con {
      margin-bottom: 90px; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__con .conteiniciarsesion__con__x {
        margin: 10px;
        background: Black;
        padding: 10px;
        border-radius: 15px;
        color: white;
        text-decoration: none; }
        body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__con .conteiniciarsesion__con__x a {
          padding-left: 60px;
          color: white;
          text-decoration: none; }
      body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__con .conteiniciarsesion__con__x:hover {
        animation-name: boton-fachero;
        text-decoration: none;
        border-radius: 20px;
        padding: 10px;
        background-color: #022975; }
        body.iniciodesesion .conteiniciarsesion .conteiniciarsesion__con .conteiniciarsesion__con__x:hover a {
          color: white; }

body.crearusuario {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white; }
  body.crearusuario h2 {
    font-weight: bolder;
    padding: 30px;
    margin: 20px;
    padding-bottom: 50px; }
  body.crearusuario .contecrearusuario {
    background: #313139;
    background: linear-gradient(180deg, rgba(49, 49, 57, 0) 0%, white 10%, white 21%, white 28%, white 36%, white 49%, white 56%, white 62%, white 71%, white 91%, rgba(9, 9, 9, 0.00276236) 100%);
    margin-top: 90px;
    margin-bottom: 10px;
    padding: 50px; }
    body.crearusuario .contecrearusuario .formulario input {
      border-radius: 10em;
      outline: 0;
      border: 2px solid #aaa;
      background-color: #fff;
      color: Black;
      padding: 0.2em 1em;
      box-shadow: 0 5px 10px 0px #0002; }
      body.crearusuario .contecrearusuario .formulario input:focus {
        border-color: black;
        border-width: 3px; }
    body.crearusuario .contecrearusuario .formulario .nowrap {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 10px;
      padding-right: 50px; }
      body.crearusuario .contecrearusuario .formulario .nowrap label {
        margin-top: 8px; }
    body.crearusuario .contecrearusuario #botondeCrearUsuario {
      animation-name: boton-fachero;
      color: white;
      background-color: #022975; }
  body.crearusuario .crear__usuario__con__x {
    text-decoration: none;
    color: white;
    background-color: Black;
    margin: 10px;
    background: Black;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none; }
    body.crearusuario .crear__usuario__con__x a {
      padding-left: 60px;
      color: white;
      text-decoration: none; }
  body.crearusuario .crear__usuario__con__x:hover {
    animation-name: boton-fachero;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #022975; }
    body.crearusuario .crear__usuario__con__x:hover a {
      color: white; }

body.compras {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white; }
  body.compras h5 {
    margin: 20px;
    padding: 30px;
    color: Black; }
  body.compras .fila__producto {
    background-color: white;
    margin: 40px;
    border-radius: 10px; }
    body.compras .fila__producto input {
      border-radius: 2px; }
    body.compras .fila__producto .fila__producto__eliminar__ignorar {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      body.compras .fila__producto .fila__producto__eliminar__ignorar img {
        width: 100%;
        margin: 10px;
        justify-self: center;
        align-self: center;
        border-radius: 10px; }
    body.compras .fila__producto .fila__producto__numero__precio {
      display: flex;
      margin: 10px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      body.compras .fila__producto .fila__producto__numero__precio #cantidad--de--productos {
        width: 20%; }

body.inicio {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white; }
  body.inicio .fila-principal {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 80%;
    height: 10%; }
  body.inicio .presentacion h2 {
    font-size: 220%;
    font-family: "Anton", sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; }
  body.inicio .titulo-lista {
    position: relative;
    color: white;
    padding: 10px;
    border: 2px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(78, 39, 39, 0.61);
    transition: 1s; }
    body.inicio .titulo-lista:not(:hover) .sublista,
    body.inicio .titulo-lista:not(:hover) .sublista-principal {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.7) translateY(10em);
      border-style: solid;
      border-width: 2px;
      border-color: black; }
    body.inicio .titulo-lista:hover {
      transition: 0.2s;
      background: #022975;
      background: linear-gradient(90deg, #022975 9%, #060247 94%); }
  @media screen and (min-width: 992px) {
    body.inicio .sublista-principal {
      width: 160%; }
    body.inicio .titulo-lista {
      width: 100%; }
    body.inicio .sublista,
    body.inicio .sublista-principal {
      top: 40px;
      left: -0.1px; } }
  @media screen and (min-width: 766px) and (max-width: 992px) {
    body.inicio .titulo-lista {
      width: 26%;
      padding-right: 5px;
      padding-bottom: 9px;
      margin-bottom: 10px; }
    body.inicio .sublista,
    body.inicio .sublista-principal {
      top: -6%;
      left: 101%; }
    body.inicio .sublista-principal {
      width: 180%; } }
  @media screen and (min-width: 576px) and (max-width: 766px) {
    body.inicio .titulo-lista {
      width: 40%;
      padding: 10px;
      margin: 2px; }
    body.inicio .sublista {
      left: 102%;
      top: 1px; }
    body.inicio .sublista-principal {
      left: 102%;
      width: 160%;
      top: 1px; } }
  @media screen and (max-width: 576px) {
    body.inicio .sublista {
      left: 101.8%;
      top: 1%;
      width: 80%; }
    body.inicio .elpepe {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
    body.inicio .sublista-principal {
      left: 101.8%;
      top: 1%;
      width: 110%; }
    body.inicio .titulo-lista {
      width: 50%;
      margin: 2px;
      padding: 5px;
      text-align: start; } }
  body.inicio .sublista,
  body.inicio .sublista-principal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px 4px blancosmoke;
    position: absolute;
    transition: 0.13s;
    z-index: 1;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: start;
    font-size: larger; }
  body.inicio .sublista-items {
    width: 20%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    body.inicio .sublista-items i {
      padding: 10px;
      margin: 5px; }
      body.inicio .sublista-items i a {
        width: 30%;
        color: #8f8484; }
      body.inicio .sublista-items i a:hover {
        width: 30%;
        color: Black;
        font-weight: bolder;
        text-decoration: underline; }
  body.inicio div.fotos-de-productos {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px; }
    body.inicio div.fotos-de-productos h3 {
      font-size: 220%;
      text-decoration: underline;
      text-decoration-color: red;
      font-family: "Anton", sans-serif;
      text-align: center;
      padding: 10px;
      margin-bottom: 20px; }
    body.inicio div.fotos-de-productos .caja {
      -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.73);
      box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.73); }
    body.inicio div.fotos-de-productos div.titulo-e-imagen {
      width: 80%;
      background-color: white;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      margin-top: 25px;
      border-radius: 10px; }
      body.inicio div.fotos-de-productos div.titulo-e-imagen a {
        color: Black;
        text-decoration: none; }
      body.inicio div.fotos-de-productos div.titulo-e-imagen h6 {
        padding: 10px;
        text-align: center; }
      body.inicio div.fotos-de-productos div.titulo-e-imagen img {
        width: 100%;
        height: auto; }
    body.inicio div.fotos-de-productos div.titulo-e-imagen:hover {
      transition: 0.1s;
      border-width: 5px;
      border-style: solid; }
  body.inicio .acciones-de-inicio {
    margin-top: 30px; }
    body.inicio .acciones-de-inicio .acciones-de-inicio-div {
      background-color: black;
      border-radius: 10px; }
      body.inicio .acciones-de-inicio .acciones-de-inicio-div .titulo-e-accion {
        display: flex;
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 10px; }
        body.inicio .acciones-de-inicio .acciones-de-inicio-div .titulo-e-accion a {
          display: block;
          width: 200%;
          border-radius: 10px;
          display: block;
          color: white;
          text-align: center;
          text-decoration: none;
          padding: 10px;
          margin-left: 30px; }
        body.inicio .acciones-de-inicio .acciones-de-inicio-div .titulo-e-accion :hover {
          padding: 10px;
          background: #022975;
          background: linear-gradient(90deg, #022975 9%, #060247 94%);
          transition: 4s; }

body.notebooks {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: white; }
  body.notebooks .container-de-filtros {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 10em;
    outline: 0;
    border: 2px solid #aaa;
    background-color: #fff;
    color: black;
    box-shadow: 0 5px 10px 0px #0002;
    background-color: white;
    list-style-type: none;
    border-radius: 10px; }
    body.notebooks .container-de-filtros .filtros {
      list-style-type: none; }
      body.notebooks .container-de-filtros .filtros li {
        padding: 10px;
        text-align: start; }
    body.notebooks .container-de-filtros select,
    body.notebooks .container-de-filtros input {
      border-radius: 10px;
      padding: 10px;
      border: black;
      border-style: solid; }
  body.notebooks .imagen-con-nombre-y-precio {
    border-radius: 10em;
    outline: 0;
    border: 2px solid #aaa;
    background-color: #fff;
    color: black;
    padding: 0.2em 1em;
    box-shadow: 0 5px 10px 0px #0002;
    margin: 10px;
    color: black;
    border-radius: 10px; }
    body.notebooks .imagen-con-nombre-y-precio img {
      width: 100%;
      padding: 30px; }
    body.notebooks .imagen-con-nombre-y-precio h4 {
      font-size: 100%; }

.sticky-top {
  position: sticky;
  top: 0; }
