/*HEADER------------------------------------------------------*/

.titulo__imagen a{
    display: flex;
    text-decoration: none;
    color: white;
    }

header{
    background-color: black;
}
.barra__busqueda{
    border-radius: 10em;
    outline: 0;
    border: 2px solid #aaa;
    background-color: #fff;
    color: black;
    padding: .2em 1em;
    box-shadow: 0 5px 10px 0 #0002;
    transition: box-shadow .3s ease;
    input{
        border-style: none;
        width: 90%;
    }
}
nav.menu{
    a{
        padding: 10px;
        color: white;
        border-radius: 10px;
    }
    a:hover{
        animation-name: boton-fachero;
        animation-duration: 1s;
        text-decoration: none;
    }
}
 @media screen and (max-width: 992px){
        .titulo__imagen h1{
           
            display: none;
            
        }
        
        .menu__big__window{
            display: none;
        }    

}
@media screen and (min-width:992px)
{
   .menu__skinny__window{
        display: none;
    }
}

/*-----------------------------------ANIMACIÓN--------------------------------------*/

@keyframes boton-fachero{
    from{background-color:#333;}
    to{background-color: skyblue;
    color: black}

}
/*------------------------------------------------------------------*/

// FOOOOTEEEER-------------------------------------------------------------
footer{
    margin-top: 250px;
    /* box-shadow: 10px 5px 10px 10px rgba(179, 184, 168, 0.333 ); */
    color:  white;
    .menufooter a{
        color: white;
    }
    .menufooter a:hover{
            text-decoration: none;
            color: white;
            animation-name: boton-fachero;
            animation-duration: 1s;
            border-radius: 5px;
        }
}


//____________________________________Pagina_De_inicio_De_Sesion_______________________________________________________________
body.iniciodesesion{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 19%, rgba(1,20,43,1) 40%, rgba(38,78,232,1) 72%, rgba(21,46,157,1) 83%, rgba(0,0,0,1) 95%); 
    .conteiniciarsesion{
        background: rgb(49,49,57);
        background: linear-gradient(180deg, rgba(49,49,57,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 91%, rgba(9,9,9,0.002762355161516905) 100%); 
        margin-top:90px;
        margin-bottom:800px;
        padding: 40px;   
        h2{
            font-weight: bolder;
            margin:90px;
            padding-bottom: 50px;
        }
        .conteiniciarsesion__form{
            input{
                 margin: 10px;
                border-radius: 10em;
                outline: 0;
                border: 2px solid #aaa;
                background-color: #fff;
                color: black;
                padding: .2em 1em;
                box-shadow: 0 5px 10px 0px #0002;
            }
            .conteiniciarsesion__form__nowrap{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                label{
                    padding-top: 10px;
                }
            }
          
             #conteiniciarsesion__form--submit:hover{
                animation-name: boton-fachero;
                animation-duration: 1s;
                background-color: skyblue;

            }
            .conteiniciarsesion__form__botones{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                a{
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 10px;
                    color: black;

                }
                a:hover{
                    animation-name: boton-fachero;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    color: black;
                    background-color: skyblue;
                    text-decoration: none;
                    padding: 10px;
                    border-radius: 10px;
               
                }
            }
        }
        .conteiniciarsesion__con{
            margin-bottom: 90px;
            .conteiniciarsesion__con__x{
                margin: 10px;
                background: black;
                padding: 10px;
                border-radius: 15px;
                color: white;
                text-decoration: none;
                a{
                    padding-left: 60px;
                    color: white;
                    text-decoration: none;
                }
            
            }
            .conteiniciarsesion__con__x:hover{
                
                    a{
                        color: black;  
                    }
                animation-name: boton-fachero;
                animation-duration: 1s;
                text-decoration: none;
                border-radius: 20px;
                padding:10px;
                background-color: skyblue;


                
            }

        }
    
    
    
    
    }
}
